@import '../../../styles.scss';

.choice {
    width: 4rem;
    height: 3rem;
    border-radius: 10px;
    box-shadow: $box-shadow-light1;
    &:hover {
        cursor: pointer;
    }
}

.selected {
    outline: 2px solid black;
}
