<!-- delete confirmation modal -->
<app-modal *ngIf="showDelete">
  Delete card?
  <div class="btn-row">
    <button class="btn submit" (click)="delete($event)">yes</button>
    <button class="btn cancel" (click)="showDelete = false">no</button>
  </div>
</app-modal>

<div
  (click)="handleTouch()"
  id="container"
  [class]="flipped ? 'card' : 'card back'"
  [style]="{ background: color }"
  [@flip]="flipState"
  (@flip.start)="flipping = true;"
  (@flip.done)="flipped = !flipped; flipping = false;"
  [@swipeRight]="swipeRightState"
  (@swipeRight.done)="emitSwiped($event)"
  [@swipeLeft]="swipeLeftState"
  (@swipeLeft.done)="emitSwiped($event)"
>
  <div *ngIf="!flipping && showCard" [class]="flipped ? 'card-content' : 'card-content back'">
    {{flipped ? getFront() : getBack()}}
  </div>
  <div *ngIf="!flipping && showCard" [class]="flipped ? 'btn-row' : 'btn-row back'">
    <button
      class="icon-btn"
      (click)="editTapped($event)"
    >
      <img src="/assets/edit.svg" />
    </button>
    <button
      class="icon-btn star"
      (click)="starTapped($event, card)"
    >
      <img [src]="card.starred ? '/assets/star-filled.svg' : '/assets/star.svg'" />
    </button>
    <button
      class="icon-btn"
      (click)="infoTapped($event)"
    >
      <img src="/assets/info.svg" />
    </button>
  </div>
  <span
    *ngIf="showEdit || showInfo"
    [class]="flipped ? 'card-menu' : 'card-menu back'"
    [@fadeIn]="fadeInState"
    (@fadeIn.done)="fadeInState === 'inactive' ? revealCard() : null"
  >
    <!-- edit screen -->
    <div *ngIf="showEdit">
      <form class="edit-form" [formGroup]="editForm">
        <input
          class="border-input"
          type="text"
          formControlName="base"
          [placeholder]="'base' | language | async" />
        <input
          class="border-input"
          type="text"
          formControlName="goal"
          [placeholder]="'goal' | language | async" />
        <select class="border-input" [value]="card.type" formControlName="type">
          <option
            *ngFor="let option of typeOptions"
            [selected]="option === card.type"
            [style.background]="option | typeColor"
          >{{option}}</option>
        </select>
        <textarea class="border-input" type="text" formControlName="goal_sent_1" [placeholder]="('goal' | language | async) + ' sentence 1'"></textarea>
        <textarea class="border-input" type="text" formControlName="base_sent_1" [placeholder]="('base' | language | async) + ' sentence 1'"></textarea>
        <textarea class="border-input" type="text" formControlName="goal_sent_2" [placeholder]="('goal' | language | async) + ' sentence 2'"></textarea>
        <textarea class="border-input" type="text" formControlName="base_sent_2" [placeholder]="('base' | language | async) + ' sentence 2'"></textarea>
      </form>
    </div>
    <!-- info screen -->
    <div *ngIf="showInfo">
      <p class="sent-ger">{{card.goal_sent_1}}</p>
      <p class="sent-eng">{{card.base_sent_1}}</p>
      <p class="sent-ger">{{card.goal_sent_2}}</p>
      <p class="sent-eng">{{card.base_sent_2}}</p>
    </div>
    <div *ngIf="!showCard" class="btn-row">
      <button
        class="icon-btn"
        (click)="menuClose($event)"
      >
        <img src="/assets/close.svg" />
      </button>
      <button
        *ngIf="showEdit && editForm.valid"
        class="icon-btn"
        [disabled]="editForm.invalid"
        (click)="saveEdit($event)"
      >
        <img src="/assets/save.svg" />
      </button>
      <button
        *ngIf="showEdit"
        class="icon-btn"
        (click)="delete($event)"
      >
        <img src="/assets/trash.svg" />
      </button>
    </div>
  </span>
</div>
