@import '../../styles.scss';

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.select-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 0.5rem;
    padding: 2px;
}
