<app-modal *ngIf="open" class="container" (close)="close()">
  <h4 class="title">Add to set(s)</h4>
  <div class="select-list">
    <div *ngFor="let s of sets" class="set-row">
      <div
        class="list-card"
        [style]="{ backgroundColor: s.color }"
        (click)="toggleSelectionFor(s)"
      >
        <div class="row-between">
          <div style="max-width: 75%;">
            {{s.name}}
          </div>
          <div class="col-center">
            <div
              *ngIf="!s.cards.includes(selection)"
              class="icon-btn"
              style="width: 2.5rem; height: 2.5rem;"
            >
              <img src="/assets/add.svg" />
            </div>
            <div
              *ngIf="s.cards.includes(selection)"
              class="icon-btn"
              style="width: 2.5rem; height: 2.5rem;"
            >
              <img src="/assets/check.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-row">
    <button class="icon-btn close" (click)="close()">
      <img src="/assets/close.svg" />
    </button>
    <button class="icon-btn close" (click)="close()">
      <img src="/assets/close.svg" />
    </button>
  </div>
</app-modal>
