:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.signin {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sample {
    position: absolute;
    bottom: 0;
    width: 100%;
}
