<form class="signin" [formGroup]="signInForm" (submit)="onSubmit()">
  <h1>{{loading ? 'Loading...' : 'Sign In'}}</h1>
  <input type="text" placeholder="email" formControlName="email" />
  <input type="password" placeholder="password" formControlName="password" />
  <button
    *ngIf="!loading"
    [disabled]="signInForm.invalid"
    class="btn submit"
    type="submit"
    style="margin: auto;"
  >Sign In</button>
</form>
<p class="sample">
  Don't have an account? Try a 
  <a routerLink="/sample">sample</a>!
</p>
