@import "../../styles.scss";

$height: 4rem;

.navbar {
    height: $height;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px black;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
    border: none;
    background: none;
    width: 4rem;
    height: 100%;
    padding: 0 0.5rem;
    &:hover {
        cursor: pointer;
        outline: solid 1px black;
    }
}
