<div class="menu-container" [@drop]="getDropState()">
  @if (settingsOpen) {
    <form [formGroup]="settingsForm">
      <div class="row">
        <p class="label" style="margin-right: 1rem;">Deal from starred cards only?</p>
        <app-action-slider [active]="getDealFromStarred()" (click)="toggleDealFromStarred()"></app-action-slider>
      </div>
      <div class="row">
        <p class="label" style="margin-right: 1rem;">{{'base' | language | async}} on front?</p>
        <app-action-slider [active]="getBaseFront()" (click)="toggleBaseFront()"></app-action-slider>
      </div>
      <div class="row">
        <input style="margin: 0;" type="number" placeholder="deck size" formControlName="deckSize" />
        <button class="btn" style="margin: 0;" (click)="setDeckSize()">Set deck size</button>
      </div>
    </form>
  }
  
  @else if (addCardOpen) {
    <form class="add-form" [formGroup]="addCardForm">
      <h2>Add card</h2>
      <input
        class="border-input"
        type="text"
        formControlName="base"
        [placeholder]="'base' | language | async" />
      <input
        class="border-input"
        type="text"
        formControlName="goal"
        [placeholder]="'goal' | language | async" />
      <select class="border-input" formControlName="type">
        <option
          *ngFor="let option of typeOptions"
          [ngValue]="option"
          [style.background]="option | typeColor"
        >{{option}}</option>
      </select>
      <textarea class="border-input" type="text" formControlName="goal_sent_1"
        [placeholder]="('goal' | language | async) + ' sentence 1'"></textarea>
      <textarea class="border-input" type="text" formControlName="base_sent_1"
        [placeholder]="('base' | language | async) + ' sentence 1'"></textarea>
      <textarea class="border-input" type="text" formControlName="goal_sent_2"
        [placeholder]="('goal' | language | async) + ' sentence 2'"></textarea>
      <textarea class="border-input" type="text" formControlName="base_sent_2"
        [placeholder]="('base' | language | async) + ' sentence 2'"></textarea>
    </form>
  }

  @else if (addSetOpen) {
    <form class="add-form" [formGroup]="addSetForm">
      <h2>Add set</h2>
      <input
        class="border-input"
        type="text"
        formControlName="name"
        placeholder="Name" />
      <div class="color-container">
        <app-color-choice
          *ngFor="let c of getColorOptions()"
          [value]="c"
          [selected]="addSetForm.get('color')?.value === c"
          (click)="this.addSetForm.patchValue({ color: c })"
        ></app-color-choice>
      </div>
    </form>
  }

  <div class="navbar">
    <button class="icon-btn" (click)="close()">
      <img src="/assets/close.svg" />
    </button>
    <button
      class="icon-btn"
      *ngIf="(addCardOpen && addCardForm.valid) || (addSetOpen && addSetForm.valid)"
      (click)="save()"
    >
      <img src="/assets/save.svg" />
    </button>
    <button class="icon-btn" (click)="close()">
      <img src="/assets/close.svg" />
    </button>
  </div>
</div>
