<form class="menu-container" [formGroup]="menuForm" [@drop]="getDropState()">
  <div class="row">
    <p class="label" style="margin-right: 1rem;">English on front?</p>
    <app-action-slider [active]="getEnglishFront()" (click)="toggleEnglishFront()"></app-action-slider>
  </div>
  <div class="row">
    <input type="number" placeholder="deck size" formControlName="deckSize" />
    <button class="btn" style="margin: 0;" (click)="setDeckSize()">Set deck size</button>
  </div>
  <div class="navbar">
    <button class="icon-btn" (click)="closePressed.emit()">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Menu / Close_LG"> <path id="Vector" d="M21 21L12 12M12 12L3 3M12 12L21.0001 3M12 12L3 21.0001" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg>
    </button>
    <button class="icon-btn" (click)="closePressed.emit()">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Menu / Close_LG"> <path id="Vector" d="M21 21L12 12M12 12L3 3M12 12L21.0001 3M12 12L3 21.0001" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg>
    </button>
  </div>
</form>
