@import '../../styles.scss';

.menu-container {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background: $primary;
    z-index: 1;
}

.row {
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1rem 0;
    text-align: center;
    gap: 0.5rem;
}
