@if (loading) {
  <app-loading></app-loading>
}
@else {
  @if (expandedCard && expanded) {
    <div class="wrapper">
      <app-card
        style="height: 100%;"
        [card]="expandedCard"
        [color]="expandedCard.type | typeColor"
        [baseFront]="getBaseFront()"
        (onSwiped)="handleBack()"
        (onUpdated)="handleUpdateCard($event)"
        (onDeleted)="handleCardDeleted($event)"
      ></app-card>
    </div>
  }
  @else {
    <div class="list">
      <div
        class="list-card"
        *ngFor="let card of results.slice(0, maxCards)"
        [style]="{ background: card.type | typeColor }"
        (click)="expandCard(card)"
      >
        <div class="row-between">
          <div class="col-center" style="max-width: 75%;">
            {{ getBaseFront() ? card.base : card.goal }}
          </div>
          <button
            class="icon-btn"
            style="width: 3rem; height: 3rem;"
            (click)="openSetSelect($event, card)"
          >
            <img [src]="card.starred ? '/assets/star-filled.svg' : '/assets/star.svg'" />
          </button>
        </div>
      </div>
    </div>
  }
}
