@import '../../styles.scss';

:host {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
}

.wrapper {
    height: 100%;
    margin: 1rem;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search {
    border: 4px solid black;
    border-radius: 10px;
    background: none;
    outline: none;
    box-shadow: none;
}
