<div class="content">
  <app-notifications></app-notifications>
  <app-menu
    [settingsOpen]="settingsMenuOpen"
    [addCardOpen]="addCardMenuOpen"
    (closePressed)="closeMenu()"
  ></app-menu>
  @if (listOpen) {
    <app-list [sample]="sample" [query]="query"></app-list>
  }
  @else {
    <app-deck [sample]="sample"></app-deck>
  }
  <app-navbar
    (listPressed)="toggleList()"
    (settingsPressed)="toggleSettingsMenu()"
    (undoPressed)="handleUndo()"
    (redoPressed)="handleRedo()"
    (addPressed)="toggleAddCardMenu()"
    (searchQuery)="handleSearch($event)"
    [search]="listOpen"
  ></app-navbar>
</div>
