@if (loading) {
  <app-loading></app-loading>
}
@else {
  <app-set-edit *ngIf="editing" [editing]="editing"></app-set-edit>
  <div class="grid">
    <div *ngFor="let s of sets" class="set">
      <div
        class="set-card"
        [style]="{ backgroundColor: s.color }"
        (click)="navigateToList(s)"
      >
        <div class="set-title">
          {{s.name}}
        </div>
        <div class="row-between">
          <button
            class="icon-btn"
            (click)="edit($event, s)"
          >
            <img src="/assets/gear.svg" />
          </button>
          <div class="set-info col-center">
            {{s.cards.length}} card{{s.cards.length === 1 ? '' : 's'}}
          </div>
          <button
            class="icon-btn"
            (click)="navigateToDeck(s)"
          >
            <img src="/assets/play.svg" />
          </button>
        </div>
      </div>
    </div>
  </div>
}