<app-modal *ngIf="set" class="container" (close)="close()">
  <h3>Edit {{set.name}}</h3>
  <form class="add-form" [formGroup]="setForm">
    <input
      class="border-input"
      style="width: 80%;"
      type="text"
      formControlName="name"
      placeholder="Name" />
    <div class="color-container">
      <app-color-choice
      *ngFor="let c of getColorOptions()"
        [value]="c"
        [selected]="setForm.get('color')?.value === c"
        (click)="this.setForm.patchValue({ color: c })"
      ></app-color-choice>
    </div>
  </form>
  <div class="row-between" style="margin-top: 1rem;">
    @if (!confirmOpen) {
      <button class="icon-btn" (click)="close()">
        <img src="/assets/close.svg" />
      </button>
      <button *ngIf="setForm.valid" class="icon-btn" (click)="update()">
        <img src="/assets/save.svg" />
      </button>
      <button class="icon-btn" (click)="confirmOpen = true;">
        <img src="/assets/trash.svg" />
      </button>
    }
    @else {
      <!-- delete confirm -->
      <div class="confirm-row">
        <button class="btn submit" (click)="delete()">yes</button>
        <div class="col-center">Delete set?</div>
        <button class="btn cancel" (click)="confirmOpen = false">no</button>
      </div>
    }
  </div>
</app-modal>
