@if (loading) {
  <p>loading...</p>
}
@else {
  @if (deck.length > 0) {
    <div class="deck">
      <ng-container *ngFor="let card of deck; index as i">
        <app-card
          *ngIf="i === deck.length-1"
          [front]="card.german"
          [back]="card.english"
          [color]="getColor(card.type)"
          (swiped)="handleSwiped($event)"
        ></app-card>
      </ng-container>
    </div>
  }
  @else {
    <div class="options">
      <button
        class="btn"
        *ngIf="missed.length > 0"
        (click)="dealMissed()"
      >Deal {{missed.length}} missed cards?</button>
      <button
        class="btn"
        (click)="dealSameDeck()"
      >Deal same deck?</button>
      <button
        class="btn"
        (click)="dealNewDeck()"
      >Deal another {{this.getDeckSize()}}?</button>
    </div>
  }
}
