@if (loading) {
  <p>loading...</p>
}
@else {
  @if (deck.length > 0) {
    <div class="deck">
      <ng-container *ngFor="let card of deck; index as i">
        <app-card
          *ngIf="i === deck.length-1"
          [card]="card"
          [color]="card.type | typeColor"
          [baseFront]="getbaseFront()"
          (onSwiped)="handleSwiped($event)"
          (onUpdated)="handleCardUpdated($event)"
        ></app-card>
      </ng-container>
      <div class="progress">
        <div class="progress-inner" [style]="{ width: getDeckProgress() }"></div>
      </div>
    </div>
  }
  @else {
    <div class="options">
      <div style="text-align: center;" *ngIf="pile.length === 0">
        <p>You're out of cards!</p>
        <button
          class="btn"
          (click)="initAndDeal()"
        >Reset card pile?</button>
      </div>
      <button
        class="btn"
        *ngIf="missed.length > 0"
        (click)="dealMissed()"
      >Deal {{missed.length}} missed cards?</button>
      <button
        class="btn"
        *ngIf="currentDeck.length > 0"
        (click)="dealSameDeck()"
      >Deal same deck?</button>
      <button
        class="btn"
        *ngIf="pile.length > 0"
        (click)="dealNewDeck()"
      >Deal another {{this.getDeckSize()}}?</button>
    </div>
  }
}
