@import '../../styles.scss';

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #80808080;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background: #dedede;
    margin: auto;
    font-size: 24px;
    box-shadow: 0px 1px 2px gray;
    border-radius: 10px;
    padding: 1.5rem;
    width: 75%;
    max-width: 700px;
}

@media screen and (max-width: 500px), 
       screen and (max-height: 800px) {
    .content {
        width: 85%;
        height: 85%;
        padding: 4%;
    }
}
