// theme colors
$primary: #dedede;
$accent: darkgray;

body {
    margin: 0;
    background: $primary;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    height: 2rem;
    margin: 0 1rem;
    padding: 0.25rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: aliceblue;
    font-size: large;
}

button {
    width: fit-content;
    padding: 0 2rem;
    border: none;
    outline: none;
    height: 2rem;
    margin: auto;
    border-radius: 5px;
    font-size: large;
}
